In [ ]:
!pip install --upgrade pip
!pip install fosforml numpy pandas matplotlib scikit-learn seaborn python-dateutil
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15
!pip install fosforml 
!pip install fosforio
!pip install refractio
!pip install refractml
!pip install cloudpickle
!pip install -U cloudpickle

In [ ]:
!pip install seaborn scipy xgboost pandas dice-ml tabulate numpy scikit-learn pandas-profiling plotly matplotlib scipy statsmodels seaborn pydantic-settings

In [1]:
from fosforml.model_manager.snowflakesession import get_session

my_session = get_session()

In [2]:
df = 'ATTRITION_MASTER_TABLE'

In [3]:
sf_df = my_session.sql("select * from {}".format(df))

In [4]:
import pandas as pd
pandas_df = sf_df.to_pandas()

In [5]:
pandas_df

,SALARY,EMPLOYEE_ID,JOB_SATISFACTION,PERCENTAGE_SALARY_HIKE,PERFORMANCE_RATING,OVER_TIME,RELATIONSHIP_SATISFACTION,CHURN_STATUS_TABLE,CHURN_VALUE_TABLE,CITY,...,RETENTION,SUM_OF_TENURE,SUM_OF_AGE,JOB_STARTDATE,JOB_ENDDATE,OVERTIME_HOURS,WORK_LIFE_BALANCE,BUSINESS_TRAVEL,ENVIRONMENT_SATISFACTION,USER_ID
0,43118.65,94215814,High,20,Outstanding,No,Medium,FALSE,0,Charlotte,...,0,0,0,2016-06-01,2019-08-01,4,Best,Travel Rarely,Medium,334493477
1,32365.59,20227353,High,14,Outstanding,No,Medium,TRUE,1,Charlotte,...,50,9366,2178,2016-06-01,2021-06-01,1,Better,Travel Rarely,High,89260492
2,40808.18,72815065,Very High,12,Low,No,Very High,TRUE,1,Charlotte,...,0,0,0,2015-05-01,None,7,Best,Travel Frequently,Low,713161033
3,22281.58,15048356,Low,17,Good,No,Very High,TRUE,1,Charlotte,...,0,0,0,2016-10-01,2017-07-01,16,Bad,Travel Rarely,Medium,844498976
4,38163.65,91151756,Medium,21,Low,Yes,Medium,FALSE,0,Charlotte,...,0,0,0,2016-06-01,2019-08-01,4,Better,Travel Rarely,Very High,334493477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,99171.50,11954788,Very High,11,Excellent,No,Low,FALSE,0,Houston,...,97,0,0,2021-12-01,2023-05-01,14,Bad,Travel Frequently,Low,492160448
299996,93665.50,65800600,High,12,Low,Yes,High,FALSE,0,Houston,...,0,0,0,2021-12-01,2023-05-01,14,Better,Travel Rarely,High,492160448
299997,98761.50,78774518,High,14,Excellent,No,Low,FALSE,0,Houston,...,0,0,0,2021-12-01,2023-05-01,14,Better,Non-Travel,Medium,492160448
299998,98597.50,53352261,Medium,25,Good,No,High,FALSE,0,Houston,...,0,0,0,2021-12-01,2023-05-01,14,Bad,Travel Rarely,Very High,492160448
299999,96701.50,10719180,High,11,Low,No,Medium,FALSE,0,Houston,...,0,0,0,2021-12-01,2023-06-01,1,Bad,Travel Rarely,High,492160448

In [6]:
print(pandas_df.isnull().sum())

SALARY                                             0
EMPLOYEE_ID                                        0
JOB_SATISFACTION                                   0
PERCENTAGE_SALARY_HIKE                             0
PERFORMANCE_RATING                                 0
OVER_TIME                                          0
RELATIONSHIP_SATISFACTION                          0
CHURN_STATUS_TABLE                                 0
CHURN_VALUE_TABLE                                  0
CITY                                               0
DISTANCE                                           0
DEGREE_CLEAN                                       0
ETHNICITY                                          0
MARITAL_STATUS                                     0
ROLE                                               0
COMPANY_NAME                                       0
ORGANIZATION_TYPE                                  0
ORGANIZATION_OWNERSHIP                             0
STATE                                              0
COUNTRY                                            0
GENDER                                             0
TENURE_MONTHS                                      0
BIRTH_YEAR                                         0
AGE                                                0
SENIORITY                                          0
SCHOOL_ENDDATE                                     0
MONTHS_AFTER_COLLEGE                               0
PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH        0
PEOPLE_JOINED_AND_NEVER_LEFT                       0
TOTAL_EMPLOYEE                                     0
CHURN_OTHER                                        0
RETENTION                                          0
SUM_OF_TENURE                                      0
SUM_OF_AGE                                         0
JOB_STARTDATE                                      0
JOB_ENDDATE                                    90076
OVERTIME_HOURS                                     0
WORK_LIFE_BALANCE                                  0
BUSINESS_TRAVEL                                    0
ENVIRONMENT_SATISFACTION                           0
USER_ID                                            0
dtype: int64

In [7]:
Original_df = pandas_df.dropna()

In [8]:
print(Original_df.isnull().sum())

SALARY                                         0
EMPLOYEE_ID                                    0
JOB_SATISFACTION                               0
PERCENTAGE_SALARY_HIKE                         0
PERFORMANCE_RATING                             0
OVER_TIME                                      0
RELATIONSHIP_SATISFACTION                      0
CHURN_STATUS_TABLE                             0
CHURN_VALUE_TABLE                              0
CITY                                           0
DISTANCE                                       0
DEGREE_CLEAN                                   0
ETHNICITY                                      0
MARITAL_STATUS                                 0
ROLE                                           0
COMPANY_NAME                                   0
ORGANIZATION_TYPE                              0
ORGANIZATION_OWNERSHIP                         0
STATE                                          0
COUNTRY                                        0
GENDER                                         0
TENURE_MONTHS                                  0
BIRTH_YEAR                                     0
AGE                                            0
SENIORITY                                      0
SCHOOL_ENDDATE                                 0
MONTHS_AFTER_COLLEGE                           0
PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH    0
PEOPLE_JOINED_AND_NEVER_LEFT                   0
TOTAL_EMPLOYEE                                 0
CHURN_OTHER                                    0
RETENTION                                      0
SUM_OF_TENURE                                  0
SUM_OF_AGE                                     0
JOB_STARTDATE                                  0
JOB_ENDDATE                                    0
OVERTIME_HOURS                                 0
WORK_LIFE_BALANCE                              0
BUSINESS_TRAVEL                                0
ENVIRONMENT_SATISFACTION                       0
USER_ID                                        0
dtype: int64

In [9]:
df = Original_df.drop(["USER_ID", "EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE", "SCHOOL_ENDDATE","CHURN_OTHER","PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH","PEOPLE_JOINED_AND_NEVER_LEFT","TOTAL_EMPLOYEE","RETENTION","SUM_OF_TENURE","SUM_OF_AGE"], axis = 1)

In [10]:
df

,SALARY,JOB_SATISFACTION,PERCENTAGE_SALARY_HIKE,PERFORMANCE_RATING,OVER_TIME,RELATIONSHIP_SATISFACTION,CHURN_STATUS_TABLE,CHURN_VALUE_TABLE,CITY,DISTANCE,...,GENDER,TENURE_MONTHS,BIRTH_YEAR,AGE,SENIORITY,MONTHS_AFTER_COLLEGE,OVERTIME_HOURS,WORK_LIFE_BALANCE,BUSINESS_TRAVEL,ENVIRONMENT_SATISFACTION
0,43118.65,High,20,Outstanding,No,Medium,FALSE,0,Charlotte,<2 miles,...,Male,35,1981,43,1,99,4,Best,Travel Rarely,Medium
1,32365.59,High,14,Outstanding,No,Medium,TRUE,1,Charlotte,<2 miles,...,Female,59,1991,33,1,63,1,Better,Travel Rarely,High
3,22281.58,Low,17,Good,No,Very High,TRUE,1,Charlotte,<2 miles,...,Male,6,1992,32,1,7,16,Bad,Travel Rarely,Medium
4,38163.65,Medium,21,Low,Yes,Medium,FALSE,0,Charlotte,<2 miles,...,Male,35,1981,43,1,99,4,Better,Travel Rarely,Very High
6,27599.60,High,14,Outstanding,Yes,Low,TRUE,1,Dallas,>10 miles,...,Female,2,1987,37,1,23,20,Best,Travel Rarely,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,99171.50,Very High,11,Excellent,No,Low,FALSE,0,Houston,>10 miles,...,Male,15,1990,34,2,9,14,Bad,Travel Frequently,Low
299996,93665.50,High,12,Low,Yes,High,FALSE,0,Houston,>10 miles,...,Female,15,1990,34,2,9,14,Better,Travel Rarely,High
299997,98761.50,High,14,Excellent,No,Low,FALSE,0,Houston,>10 miles,...,Female,15,1990,34,2,9,14,Better,Non-Travel,Medium
299998,98597.50,Medium,25,Good,No,High,FALSE,0,Houston,>10 miles,...,Female,15,1990,34,2,9,14,Bad,Travel Rarely,Very High
299999,96701.50,High,11,Low,No,Medium,FALSE,0,Houston,>10 miles,...,Female,16,1990,34,2,9,1,Bad,Travel Rarely,High

In [ ]:
CATEGORICAL_COLUMNS = ["ROLE","ETHNICITY","ORGANIZATION_TYPE", "ORGANIZATION_OWNERSHIP","COMPANY_NAME","CITY","STATE","DISTANCE","COUNTRY","GENDER",
                       "BUSINESS_TRAVEL","ENVIRONMENT_SATISFACTION","JOB_SATISFACTION","MARITAL_STATUS","OVER_TIME","PERFORMANCE_RATING","RELATIONSHIP_SATISFACTION","WORK_LIFE_BALANCE","CHURN_STATUS_TABLE","DEGREE_CLEAN"]
NUMERICAL_COLUMNS = ["SALARY", "SENIORITY", "TENURE_MONTHS", "MONTHS_AFTER_COLLEGE", "BIRTH_YEAR","AGE","OVERTIME_HOURS","PERCENTAGE_SALARY_HIKE"]
LABEL_COLUMNS = ["CHURN_VALUE_TABLE"]
DROPPED_COLUMNS = ["USER_ID", "EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE", "SCHOOL_ENDDATE","CHURN_OTHER","PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH","PEOPLE_JOINED_AND_NEVER_LEFT","TOTAL_EMPLOYEE","RETENTION","SUM_OF_TENURE","SUM_OF_AGE"]
OUTPUT_COLUMNS = ["PREDICTION"]

In [ ]:
# Filter feature columns
feature_columns = CATEGORICAL_COLUMNS + NUMERICAL_COLUMNS
feature_columns = [col for col in feature_columns if col in Original_df.columns]
LABEL_COLUMNS = [col for col in LABEL_COLUMNS if col in Original_df.columns]
 
# Split data into features and labels
X = Original_df[feature_columns + DROPPED_COLUMNS]
y = Original_df[LABEL_COLUMNS].values.ravel()  # Flatten to 1D array for consistency

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
X_test

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
 
# Define transformers
categorical_transformer = make_pipeline(
    SimpleImputer(strategy='constant', fill_value='missing'),
    OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
)
 
numerical_transformer = make_pipeline(
    SimpleImputer(strategy='mean'),
    MinMaxScaler(clip=True)
)
 
# Create preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, CATEGORICAL_COLUMNS),
        ('num', numerical_transformer, NUMERICAL_COLUMNS)
    ]
)
 
# Create pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', XGBClassifier())
])

pipeline.fit(X_train, y_train)
result = pipeline.predict(X_test)

In [ ]:
result

In [ ]:
from joblib import dump, load
filename = "Attrition.joblib"
dump(pipeline, filename)

In [ ]:
y_pred = pipeline.predict(X_test)
y_prob = pipeline.predict_proba(X_test)

In [ ]:
from refractml import *

from refractml.constants import MLModelFlavours

In [ ]:
import json

In [ ]:
@scoring_func
def score(model, request):
    payload_dict = request.json["payload"]
    data_json = json.loads(payload_dict)  # Use json.loads() for safer parsing
    data = pd.DataFrame([data_json])
    prediction = str(model.predict(data)[0])
    return prediction

In [ ]:
import json
import requests
import pandas as pd

# Function to convert date objects to strings
def convert_dates(obj):
    if isinstance(obj, (datetime.date, datetime.datetime)):
        return obj.isoformat()
    raise TypeError("Type not serializable")

# Convert the payload to a JSON string with date handling
payload = X_test.iloc[123].to_dict()
payload_json = json.dumps(payload, default=convert_dates)

req = requests.Request()
req.json = {"payload": payload_json}

print(score(pipeline, req))

In [ ]:
import json
import requests
import pandas as pd

# Function to convert date objects to strings
def convert_dates(obj):
    if isinstance(obj, (datetime.date, datetime.datetime)):
        return obj.isoformat()
    raise TypeError("Type not serializable")

# Convert the payload to a JSON string with date handling
payload = X_test.iloc[123].to_dict()
payload_json = json.dumps(payload, default=convert_dates)

req = requests.Request()
req.json = {"payload": payload_json}

@scoring_func
def score(model, request):
    payload_dict = request.json["payload"]
    data_json = json.loads(payload_dict)  # Use json.loads() for safer parsing
    data = pd.DataFrame([data_json])
    prediction = str(model.predict(data)[0])
    return prediction

print(score(pipeline, req))

In [ ]:
req.json

In [ ]:
from fosforml import register_model

register_model(
  model_obj=pipeline,  # Ensure the correct model object is passed
  session=my_session,
  x_train=X_train,  # Ensure X_train is passed correctly
  y_train=pd.Series(y_train),  # Convert y_train to pandas Series
  x_test=X_test,
  y_test=y_test,
  y_pred=y_pred,
  source="Notebook",
  dataset_name="ATTRITION_MASTER_TABLE",
  dataset_source="Snowflake",
  name="attrition_master_table",
  description="This is a Model for the analyzing attrition",
  flavour="sklearn",
  model_type="classification",
  conda_dependencies=["scikit-learn==1.3.2"]
)