In [ ]:
!pip install --upgrade pip
!pip install fosforml numpy pandas matplotlib scikit-learn seaborn python-dateutil
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15
!pip install fosforml 
!pip install fosforio
!pip install refractio
!pip install refractml

In [ ]:
!pip install seaborn scipy xgboost pandas dice-ml tabulate numpy scikit-learn pandas-profiling plotly matplotlib scipy statsmodels seaborn pydantic-settings

In [6]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [8]:
df = 'ATTRITION_MASTER_TABLE'

In [9]:
sf_df = my_session.sql("select * from {}".format(df))
sf_df = sf_df.randomSplit([0.8,0.2])

In [14]:
pandas_df = sf_df[0].to_pandas()

In [15]:
pandas_df

,SALARY,EMPLOYEE_ID,JOB_SATISFACTION,PERCENTAGE_SALARY_HIKE,PERFORMANCE_RATING,OVER_TIME,RELATIONSHIP_SATISFACTION,CHURN_STATUS_TABLE,CHURN_VALUE_TABLE,CITY,...,RETENTION,SUM_OF_TENURE,SUM_OF_AGE,JOB_STARTDATE,JOB_ENDDATE,OVERTIME_HOURS,WORK_LIFE_BALANCE,BUSINESS_TRAVEL,ENVIRONMENT_SATISFACTION,USER_ID
0,43118.65,94215814,High,20,Outstanding,No,Medium,FALSE,0,Charlotte,...,0,0,0,2016-06-01,2019-08-01,4,Best,Travel Rarely,Medium,334493477
1,32365.59,20227353,High,14,Outstanding,No,Medium,TRUE,1,Charlotte,...,50,9366,2178,2016-06-01,2021-06-01,1,Better,Travel Rarely,High,89260492
2,40808.18,72815065,Very High,12,Low,No,Very High,TRUE,1,Charlotte,...,0,0,0,2015-05-01,None,7,Best,Travel Frequently,Low,713161033
3,22281.58,15048356,Low,17,Good,No,Very High,TRUE,1,Charlotte,...,0,0,0,2016-10-01,2017-07-01,16,Bad,Travel Rarely,Medium,844498976
4,38163.65,91151756,Medium,21,Low,Yes,Medium,FALSE,0,Charlotte,...,0,0,0,2016-06-01,2019-08-01,4,Better,Travel Rarely,Very High,334493477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239876,96701.50,22526637,High,14,Low,Yes,Very High,FALSE,0,Houston,...,0,0,0,2021-12-01,2023-06-01,1,Bad,Travel Rarely,Medium,492160448
239877,94339.50,22038237,Medium,20,Low,No,High,FALSE,0,Houston,...,0,0,0,2021-12-01,2023-05-01,14,Best,Travel Rarely,Very High,492160448
239878,99171.50,11954788,Very High,11,Excellent,No,Low,FALSE,0,Houston,...,97,0,0,2021-12-01,2023-05-01,14,Bad,Travel Frequently,Low,492160448
239879,98761.50,78774518,High,14,Excellent,No,Low,FALSE,0,Houston,...,0,0,0,2021-12-01,2023-05-01,14,Better,Non-Travel,Medium,492160448
239880,98597.50,53352261,Medium,25,Good,No,High,FALSE,0,Houston,...,0,0,0,2021-12-01,2023-05-01,14,Bad,Travel Rarely,Very High,492160448

In [16]:
print(pandas_df.isnull().sum())

SALARY                                             0
EMPLOYEE_ID                                        0
JOB_SATISFACTION                                   0
PERCENTAGE_SALARY_HIKE                             0
PERFORMANCE_RATING                                 0
OVER_TIME                                          0
RELATIONSHIP_SATISFACTION                          0
CHURN_STATUS_TABLE                                 0
CHURN_VALUE_TABLE                                  0
CITY                                               0
DISTANCE                                           0
DEGREE_CLEAN                                       0
ETHNICITY                                          0
MARITAL_STATUS                                     0
ROLE                                               0
COMPANY_NAME                                       0
ORGANIZATION_TYPE                                  0
ORGANIZATION_OWNERSHIP                             0
STATE                                              0
COUNTRY                                            0
GENDER                                             0
TENURE_MONTHS                                      0
BIRTH_YEAR                                         0
AGE                                                0
SENIORITY                                          0
SCHOOL_ENDDATE                                     0
MONTHS_AFTER_COLLEGE                               0
PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH        0
PEOPLE_JOINED_AND_NEVER_LEFT                       0
TOTAL_EMPLOYEE                                     0
CHURN_OTHER                                        0
RETENTION                                          0
SUM_OF_TENURE                                      0
SUM_OF_AGE                                         0
JOB_STARTDATE                                      0
JOB_ENDDATE                                    72146
OVERTIME_HOURS                                     0
WORK_LIFE_BALANCE                                  0
BUSINESS_TRAVEL                                    0
ENVIRONMENT_SATISFACTION                           0
USER_ID                                            0
dtype: int64

In [17]:
Original_df = pandas_df.dropna()

In [18]:
print(Original_df.isnull().sum())

SALARY                                         0
EMPLOYEE_ID                                    0
JOB_SATISFACTION                               0
PERCENTAGE_SALARY_HIKE                         0
PERFORMANCE_RATING                             0
OVER_TIME                                      0
RELATIONSHIP_SATISFACTION                      0
CHURN_STATUS_TABLE                             0
CHURN_VALUE_TABLE                              0
CITY                                           0
DISTANCE                                       0
DEGREE_CLEAN                                   0
ETHNICITY                                      0
MARITAL_STATUS                                 0
ROLE                                           0
COMPANY_NAME                                   0
ORGANIZATION_TYPE                              0
ORGANIZATION_OWNERSHIP                         0
STATE                                          0
COUNTRY                                        0
GENDER                                         0
TENURE_MONTHS                                  0
BIRTH_YEAR                                     0
AGE                                            0
SENIORITY                                      0
SCHOOL_ENDDATE                                 0
MONTHS_AFTER_COLLEGE                           0
PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH    0
PEOPLE_JOINED_AND_NEVER_LEFT                   0
TOTAL_EMPLOYEE                                 0
CHURN_OTHER                                    0
RETENTION                                      0
SUM_OF_TENURE                                  0
SUM_OF_AGE                                     0
JOB_STARTDATE                                  0
JOB_ENDDATE                                    0
OVERTIME_HOURS                                 0
WORK_LIFE_BALANCE                              0
BUSINESS_TRAVEL                                0
ENVIRONMENT_SATISFACTION                       0
USER_ID                                        0
dtype: int64

In [19]:
df = Original_df.drop(["USER_ID", "EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE", "SCHOOL_ENDDATE","CHURN_OTHER","PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH","PEOPLE_JOINED_AND_NEVER_LEFT","TOTAL_EMPLOYEE","RETENTION","SUM_OF_TENURE","SUM_OF_AGE"], axis = 1)

In [20]:
df

,SALARY,JOB_SATISFACTION,PERCENTAGE_SALARY_HIKE,PERFORMANCE_RATING,OVER_TIME,RELATIONSHIP_SATISFACTION,CHURN_STATUS_TABLE,CHURN_VALUE_TABLE,CITY,DISTANCE,...,GENDER,TENURE_MONTHS,BIRTH_YEAR,AGE,SENIORITY,MONTHS_AFTER_COLLEGE,OVERTIME_HOURS,WORK_LIFE_BALANCE,BUSINESS_TRAVEL,ENVIRONMENT_SATISFACTION
0,43118.65,High,20,Outstanding,No,Medium,FALSE,0,Charlotte,<2 miles,...,Male,35,1981,43,1,99,4,Best,Travel Rarely,Medium
1,32365.59,High,14,Outstanding,No,Medium,TRUE,1,Charlotte,<2 miles,...,Female,59,1991,33,1,63,1,Better,Travel Rarely,High
3,22281.58,Low,17,Good,No,Very High,TRUE,1,Charlotte,<2 miles,...,Male,6,1992,32,1,7,16,Bad,Travel Rarely,Medium
4,38163.65,Medium,21,Low,Yes,Medium,FALSE,0,Charlotte,<2 miles,...,Male,35,1981,43,1,99,4,Better,Travel Rarely,Very High
6,93763.66,Very High,19,Excellent,No,Medium,FALSE,0,Dallas,>10 miles,...,Female,57,1981,43,5,126,14,Best,Travel Rarely,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239876,96701.50,High,14,Low,Yes,Very High,FALSE,0,Houston,>10 miles,...,Female,16,1990,34,2,9,1,Bad,Travel Rarely,Medium
239877,94339.50,Medium,20,Low,No,High,FALSE,0,Houston,>10 miles,...,Female,15,1990,34,2,9,14,Best,Travel Rarely,Very High
239878,99171.50,Very High,11,Excellent,No,Low,FALSE,0,Houston,>10 miles,...,Male,15,1990,34,2,9,14,Bad,Travel Frequently,Low
239879,98761.50,High,14,Excellent,No,Low,FALSE,0,Houston,>10 miles,...,Female,15,1990,34,2,9,14,Better,Non-Travel,Medium
239880,98597.50,Medium,25,Good,No,High,FALSE,0,Houston,>10 miles,...,Female,15,1990,34,2,9,14,Bad,Travel Rarely,Very High

In [ ]:
CATEGORICAL_COLUMNS = ["ROLE","SEX", "ETHNICITY","ORGANIZATION_TYPE", "ORGANIZATION_OWNERSHIP","COMPANY_NAME","CITY","STATE","DISTANCE","COUNTRY","GENDER",
                       "NEW_DEVICE_INDICATOR","BUSINESS_TRAVEL","ENVIRONMENT_SATISFACTION","JOB_SATISFACTION","MARITAL_STATUS","OVER_TIME","PERFORMANCE_RATING","RELATIONSHIP_SATISFACTION","WORK_LIFE_BALANCE","CHURN_STATUS_TABLE","DEGREE_CLEAN"]
NUMERICAL_COLUMNS = ["SALARY", "SENIORITY", "TENURE_MONTHS", "MONTHS_AFTER_COLLEGE", "BIRTH_YEAR","AGE","OVERTIME_HOURS","PERCENTAGE_SALARY_HIKE","TOTAL_EMPLOYEE"]
LABEL_COLUMNS = ["CHURN_VALUE_TABLE"]
DROPPED_COLUMNS = ["USER_ID", "EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE", "SCHOOL_ENDDATE","CHURN_OTHER","PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH","PEOPLE_JOINED_AND_NEVER_LEFT","TOTAL_EMPLOYEE","RETENTION","SUM_OF_TENURE","SUM_OF_AGE"]
OUTPUT_COLUMNS = ["PREDICTION"]

In [ ]:
# Filter feature columns
feature_columns = CATEGORICAL_COLUMNS + NUMERICAL_COLUMNS
feature_columns = [col for col in feature_columns if col in Original_df.columns]
LABEL_COLUMNS = [col for col in LABEL_COLUMNS if col in Original_df.columns]
 
# Split data into features and labels
X = Original_df[feature_columns + DROPPED_COLUMNS]
y = Original_df[LABEL_COLUMNS].values.ravel()  # Flatten to 1D array for consistency

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
X_test

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
 
# Define transformers
categorical_transformer = make_pipeline(
    SimpleImputer(strategy='constant', fill_value='missing'),
    OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
)
 
numerical_transformer = make_pipeline(
    SimpleImputer(strategy='mean'),
    MinMaxScaler(clip=True)
)
 
# Create preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, CATEGORICAL_COLUMNS),
        ('num', numerical_transformer, NUMERICAL_COLUMNS)
    ]
)
 
# Create pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', XGBClassifier())
])

pipeline.fit(X_train, y_train)
result = pipeline.predict(X_test)

In [ ]:
result

In [ ]:
from joblib import dump, load
filename = "HR_Attrition.joblib"
dump(pipeline, filename)

In [ ]:
y_pred = pipeline.predict(X_test)
y_prob = pipeline.predict_proba(X_test)

In [ ]:
from refractml import *

from refractml.constants import MLModelFlavours

In [ ]:
@scoring_func
def score(model, request):
    payload_dict = request.json["payload"]
    data_json = eval(payload)
    data = pd.DataFrame([data_json])
    prediction = str(model.predict(data)[0])
    return prediction

In [ ]:
import requests
import datetime
import pandas as pd 
payload = str(X_test.iloc[123].to_dict())
req = requests.Request()
req.json = {"payload": payload}

print(score(pipeline, req))

In [ ]:
req.json

In [ ]:
## registering the model.
tmp = register_model(pipeline, 
               score, 
               name="HR_ATTRITION_ML_MODEL", 
               description="Analyzing_HR_Attrition_trained_using _ml",
               flavour=MLModelFlavours.sklearn,
               model_type="classification",
               init_script="\\n pip install fosforml \\n pip install seaborn \\n pip install snowflake-connector-python[pandas] \\n pip install joblib==1.3.2 scikit-learn=1.3.2",
               y_true=y_test,
               y_pred=y_pred, 
               features=X_train.columns,
               labels=[0,1],
               input_type="json", 
               explain_ai=True,
               prob=y_prob,
               x_train=X_train, 
               x_test=X_test, 
               y_train=y_train,
               y_test=y_test,
               feature_names=X_train.columns.tolist(),
               original_features=X_train.columns.tolist(),
               feature_ids=X_train.columns,
               target_names=['NOT LEFT','LEFT'],
               kyd=True, kyd_score = True)

In [ ]:
payload  = {"payload": X_test.iloc[0].to_dict()}
payload

In [ ]:
result = pipeline.predict(X_test)
result_prob = pipeline.predict_proba(X_test)
pred_df = X_test.copy()
result = result
result_prob = result_prob
pred_df["PREDICTION"] = result
pred_df["PROB"] = result_prob[:, 1]

In [ ]:
from sklearn.metrics import classification_report, log_loss, roc_auc_score
 
# Check lengths
print("Length of y_test:", len(y_test))
print("Length of y_pred:", len(y_pred))
 
# Print classification report
print(classification_report(y_test, y_pred))
 
# Calculate accuracy
accuracy = sum(y_test == y_pred) / len(y_test)
print("Accuracy:", accuracy)
 
# Calculate additional metrics
log_loss_value = log_loss(y_test, y_prob)
roc_auc = roc_auc_score(y_test, y_prob[:, 1])  # Assuming class 1 is the positive class
 
print("Log Loss:", log_loss_value)
print("ROC AUC Score:", roc_auc)

In [ ]:
from sklearn.metrics import roc_curve, precision_recall_curve, confusion_matrix
from sklearn.metrics import roc_auc_score
from matplotlib import pyplot as plt
import seaborn as sns
ns_probs = [0 for _ in range(len(y_test))]
ns_auc = roc_auc_score(y_test, ns_probs)
lr_auc = roc_auc_score(y_test, pred_df["PROB"])
ns_fpr, ns_tpr, _ = roc_curve(y_test, ns_probs)
lr_fpr, lr_tpr, _ = roc_curve(y_test, pred_df["PROB"])
# plot the roc curve for the model
plt.plot(ns_fpr, ns_tpr, linestyle='--', label='No Skill')
plt.plot(lr_fpr, lr_tpr, marker='.', label='Radnomforest')
# axis labels
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
# show the legend
plt.legend()
# show the plot
plt.show()

In [ ]:
lr_precision, lr_recall, _ = precision_recall_curve(y_test, pred_df["PROB"])
plt.plot(lr_recall, lr_precision, marker='.', label='Randomforest')
# axis labels
plt.xlabel('Recall')
plt.ylabel('Precision')
# show the legend
plt.legend()
# show the plot
plt.show()

In [ ]:
cm = confusion_matrix(y_test,y_pred)
 
#Plot the confusion matrix.
sns.heatmap(cm,
            annot=True,
            fmt='g',
            xticklabels=['Not Churn','Churn'],
            yticklabels=['Not CHurn','Churn'])
plt.ylabel('Prediction',fontsize=13)
plt.xlabel('Actual',fontsize=13)
plt.title('Confusion Matrix',fontsize=17)
plt.show()

In [ ]:
scores_data = pd.DataFrame({"ns_probs":ns_probs,
                            "y_test":y_test,
                            "y_pred":pred_df["PREDICTION"],
                            "act_probs":pred_df["PROB"]})

In [ ]:
scores_data

In [ ]:
scores_data.to_csv("/data/scores.csv", index=False)

In [ ]:
# Define or use the prediction function
def model_prediction_score_func(dataframe):
    # Ensure 'dataframe' has the correct features required by the model
    return pipeline.predict(dataframe)  # Use your trained pipeline/model here
 
# Assuming df is your input DataFrame with the necessary features
Original_df['Model_Output'] = model_prediction_score_func(Original_df)
 
# If you have a DataFrame with test data and you want to merge predictions
# Assuming X_test is the DataFrame for which predictions are made
#X_test_with_predictions = X_test.copy()
#X_test_with_predictions['Model_Output'] = model_prediction_score_func(X_test)
 
# Display the first few rows to verify
#print(X_test_with_predictions.head())

In [ ]:
Original_df

In [ ]:
Original_df.to_csv("/data/Hr_Attrition_Data.csv", index=False)

In [ ]:
con = snowflake.get_connection("HR_ATTRITION")

In [ ]:
import pandas as pd
if 'Model_Output' in Original_df:
    Original_df['Model_Output_Values'] = Original_df['Model_Output'].astype(bool)
print(Original_df.head())

In [ ]:
file = 'HR_Attrition_Data.csv'
Original_df.to_csv(file , index=False)

In [ ]:
file

In [ ]:
snowflake.execute_query(f"PUT file://{file} @HR_ANALYTIC.PUBLIC.HR_ATTRITION_STAGE")