In [ ]:
!pip install --upgrade pip
!pip install fosforml numpy pandas matplotlib scikit-learn seaborn python-dateutil
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15
!pip install fosforml 
!pip install fosforio
!pip install -U cloudpickle

In [1]:
from snowflake.snowpark import Session
from snowflake.connector.pandas_tools import write_pandas

# Data Science Libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

In [2]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [3]:
from fosforml.model_manager.snowflakesession import get_session

my_session = get_session()

In [4]:
df = 'FRAUD_DETECTION_ANALY_MASTER_TABLE'

In [5]:
sf_df = my_session.sql("select * from {}".format(df))

In [6]:
import pandas as pd
pandas_df = sf_df.to_pandas()

In [7]:
print(pandas_df.isnull().sum())

CREDIT_LIMIT                          0
ACCOUNT_OPENING_DATE                  0
LAST_LOGIN                            0
CUSTOMER_SEGMENT                      0
ACCOUNT_TYPE                          0
DEVICE_USED                           0
NAME                                  0
GENDER                                0
DOB                                   0
AGE                                   0
CUSTOMER_ID                           0
AGE_GROUP                             0
AGE_OF_ACCOUNT                        0
FREQUENCY_OF_TRANSACTIONS             0
CUSTOMER_LOYALTY_SCORE                0
NUMBER_OF_REFUNDS                     0
NUMBER_OF_CHARGEBACKS                 0
CREDIT_UTILIZATION_RATIO              0
CHANGE_IN_SPENDING_BEHAVIOR           0
TRANSACTION_VELOCITY                  0
CUSTOMER_LOYALTY_CATEGORY             0
TIME_SINCE_LAST_TRANSACTION           0
TRANSACTION_ID                        0
TIME                                  0
TRANSACTION_AMOUNT                    0
MERCHANT_RISK_SCORE                   0
DISTANCE_FROM_HOME_ADDRESS            0
DISTANCE_FROM_LAST_TRANSACTION        0
TRANSACTION_DATE                      0
TRANSACTION_TYPE                      0
MERCHANT_CATEGORY                     0
PAYMENT_METHOD                        0
TIME_OF_DAY                           0
DAY_OF_WEEK                           0
TRANSACTION_STATUS                    0
COUNTY                                0
STATE                                 0
CITY                                  0
YEAR                                  0
QUARTER                               0
MONTH                                 0
ANOMALY_SCORE                         0
FRAUD_INDICATOR                       0
SUSPICIOUS_FLAG                       0
PREVIOUS_FRAUD_REPORTS                0
CROSS_BORDER_TRANSACTION_INDICATOR    0
NEW_DEVICE_INDICATOR                  0
ANAMOLY_RISK_CATEGORY                 0
MERCHANT_RISK_CATEGORY                0
FRAUD_FLAG                            0
dtype: int64

In [8]:
pandas_df.shape

(300000, 50)

In [9]:
pandas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 50 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   CREDIT_LIMIT                        300000 non-null  int32
 1   ACCOUNT_OPENING_DATE                300000 non-null  object
 2   LAST_LOGIN                          300000 non-null  object
 3   CUSTOMER_SEGMENT                    300000 non-null  object
 4   ACCOUNT_TYPE                        300000 non-null  object
 5   DEVICE_USED                         300000 non-null  object
 6   NAME                                300000 non-null  object
 7   GENDER                              300000 non-null  object
 8   DOB                                 300000 non-null  object
 9   AGE                                 300000 non-null  object
 10  CUSTOMER_ID                         300000 non-null  object
 11  AGE_GROUP                           300000 non-null  object
 12  AGE_OF_ACCOUNT                      300000 non-null  int8
 13  FREQUENCY_OF_TRANSACTIONS           300000 non-null  int8
 14  CUSTOMER_LOYALTY_SCORE              300000 non-null  float64
 15  NUMBER_OF_REFUNDS                   300000 non-null  int8
 16  NUMBER_OF_CHARGEBACKS               300000 non-null  int8
 17  CREDIT_UTILIZATION_RATIO            300000 non-null  float64
 18  CHANGE_IN_SPENDING_BEHAVIOR         300000 non-null  float64
 19  TRANSACTION_VELOCITY                300000 non-null  float64
 20  CUSTOMER_LOYALTY_CATEGORY           300000 non-null  object
 21  TIME_SINCE_LAST_TRANSACTION         300000 non-null  object
 22  TRANSACTION_ID                      300000 non-null  object
 23  TIME                                300000 non-null  object
 24  TRANSACTION_AMOUNT                  300000 non-null  float64
 25  MERCHANT_RISK_SCORE                 300000 non-null  float64
 26  DISTANCE_FROM_HOME_ADDRESS          300000 non-null  int8
 27  DISTANCE_FROM_LAST_TRANSACTION      300000 non-null  int8
 28  TRANSACTION_DATE                    300000 non-null  object
 29  TRANSACTION_TYPE                    300000 non-null  object
 30  MERCHANT_CATEGORY                   300000 non-null  object
 31  PAYMENT_METHOD                      300000 non-null  object
 32  TIME_OF_DAY                         300000 non-null  object
 33  DAY_OF_WEEK                         300000 non-null  object
 34  TRANSACTION_STATUS                  300000 non-null  object
 35  COUNTY                              300000 non-null  object
 36  STATE                               300000 non-null  object
 37  CITY                                300000 non-null  object
 38  YEAR                                300000 non-null  int16
 39  QUARTER                             300000 non-null  object
 40  MONTH                               300000 non-null  object
 41  ANOMALY_SCORE                       300000 non-null  float64
 42  FRAUD_INDICATOR                     300000 non-null  int8
 43  SUSPICIOUS_FLAG                     300000 non-null  int8
 44  PREVIOUS_FRAUD_REPORTS              300000 non-null  int8
 45  CROSS_BORDER_TRANSACTION_INDICATOR  300000 non-null  object
 46  NEW_DEVICE_INDICATOR                300000 non-null  object
 47  ANAMOLY_RISK_CATEGORY               300000 non-null  object
 48  MERCHANT_RISK_CATEGORY              300000 non-null  object
 49  FRAUD_FLAG                          300000 non-null  object
dtypes: float64(7), int16(1), int32(1), int8(9), object(32)
memory usage: 93.6+ MB

In [11]:
pandas_df.describe()

,CREDIT_LIMIT,AGE_OF_ACCOUNT,FREQUENCY_OF_TRANSACTIONS,CUSTOMER_LOYALTY_SCORE,NUMBER_OF_REFUNDS,NUMBER_OF_CHARGEBACKS,CREDIT_UTILIZATION_RATIO,CHANGE_IN_SPENDING_BEHAVIOR,TRANSACTION_VELOCITY,TRANSACTION_AMOUNT,MERCHANT_RISK_SCORE,DISTANCE_FROM_HOME_ADDRESS,DISTANCE_FROM_LAST_TRANSACTION,YEAR,ANOMALY_SCORE,FRAUD_INDICATOR,SUSPICIOUS_FLAG,PREVIOUS_FRAUD_REPORTS
count,300000.00000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,22514.25000,19.996060,50.034980,0.500713,2.497920,2.496617,0.499802,0.500250,4.995991,5001.590509,0.500295,25.018137,24.990567,2020.322290,0.499543,0.053743,0.020493,1.000490
std,11459.54048,11.258217,28.610189,0.288649,1.708461,1.706169,0.288729,0.288782,2.889279,2887.375398,0.289271,14.444339,14.439170,2.198197,0.288596,0.225511,0.141681,0.817923
min,5000.00000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.080000,0.000000,0.000000,0.000000,2017.000000,0.000000,0.000000,0.000000,0.000000
25%,15000.00000,10.000000,25.000000,0.250000,1.000000,1.000000,0.250000,0.250000,2.500000,2496.957500,0.250000,13.000000,12.000000,2018.000000,0.250000,0.000000,0.000000,0.000000
50%,20000.00000,20.000000,50.000000,0.500000,3.000000,2.000000,0.500000,0.500000,5.000000,5003.090000,0.500000,25.000000,25.000000,2020.000000,0.500000,0.000000,0.000000,1.000000
75%,35000.00000,30.000000,75.000000,0.750000,4.000000,4.000000,0.750000,0.750000,7.500000,7503.860000,0.750000,38.000000,37.000000,2022.000000,0.750000,0.000000,0.000000,2.000000
max,40000.00000,39.000000,99.000000,1.000000,5.000000,5.000000,1.000000,1.000000,10.000000,9999.980000,1.000000,50.000000,50.000000,2024.000000,1.000000,1.000000,1.000000,2.000000

In [ ]:
pandas_df.describe(include='O')