In [1]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
table_name = 'ATTRITION_MASTER_TABLE'

In [3]:
sf_df = my_session.sql("select * from {}".format(table_name))

In [4]:
import pandas as pd
pandas_df = sf_df.to_pandas()

In [5]:
print(pandas_df.isnull().sum())

SALARY                                             0
EMPLOYEE_ID                                        0
JOB_SATISFACTION                                   0
PERCENTAGE_SALARY_HIKE                             0
PERFORMANCE_RATING                                 0
OVER_TIME                                          0
RELATIONSHIP_SATISFACTION                          0
CHURN_STATUS_TABLE                                 0
CHURN_VALUE_TABLE                                  0
CITY                                               0
DISTANCE                                           0
DEGREE_CLEAN                                       0
ETHNICITY                                          0
MARITAL_STATUS                                     0
ROLE                                               0
COMPANY_NAME                                       0
ORGANIZATION_TYPE                                  0
ORGANIZATION_OWNERSHIP                             0
STATE                                              0
COUNTRY                                            0
GENDER                                             0
TENURE_MONTHS                                      0
BIRTH_YEAR                                         0
AGE                                                0
SENIORITY                                          0
SCHOOL_ENDDATE                                     0
MONTHS_AFTER_COLLEGE                               0
PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH        0
PEOPLE_JOINED_AND_NEVER_LEFT                       0
TOTAL_EMPLOYEE                                     0
CHURN_OTHER                                        0
RETENTION                                          0
SUM_OF_TENURE                                      0
SUM_OF_AGE                                         0
JOB_STARTDATE                                      0
JOB_ENDDATE                                    90076
OVERTIME_HOURS                                     0
WORK_LIFE_BALANCE                                  0
BUSINESS_TRAVEL                                    0
ENVIRONMENT_SATISFACTION                           0
USER_ID                                            0
dtype: int64

In [6]:
Original_df = pandas_df.dropna()

In [7]:
print(Original_df.isnull().sum())

SALARY                                         0
EMPLOYEE_ID                                    0
JOB_SATISFACTION                               0
PERCENTAGE_SALARY_HIKE                         0
PERFORMANCE_RATING                             0
OVER_TIME                                      0
RELATIONSHIP_SATISFACTION                      0
CHURN_STATUS_TABLE                             0
CHURN_VALUE_TABLE                              0
CITY                                           0
DISTANCE                                       0
DEGREE_CLEAN                                   0
ETHNICITY                                      0
MARITAL_STATUS                                 0
ROLE                                           0
COMPANY_NAME                                   0
ORGANIZATION_TYPE                              0
ORGANIZATION_OWNERSHIP                         0
STATE                                          0
COUNTRY                                        0
GENDER                                         0
TENURE_MONTHS                                  0
BIRTH_YEAR                                     0
AGE                                            0
SENIORITY                                      0
SCHOOL_ENDDATE                                 0
MONTHS_AFTER_COLLEGE                           0
PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH    0
PEOPLE_JOINED_AND_NEVER_LEFT                   0
TOTAL_EMPLOYEE                                 0
CHURN_OTHER                                    0
RETENTION                                      0
SUM_OF_TENURE                                  0
SUM_OF_AGE                                     0
JOB_STARTDATE                                  0
JOB_ENDDATE                                    0
OVERTIME_HOURS                                 0
WORK_LIFE_BALANCE                              0
BUSINESS_TRAVEL                                0
ENVIRONMENT_SATISFACTION                       0
USER_ID                                        0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(Original_df, test_size=0.2)

In [11]:
y_train = x_train['CHURN_VALUE_TABLE']
x_train = x_train.drop('CHURN_VALUE_TABLE',axis=1)
y_train

187787    1
254295    0
290064    0
183781    1
162886    0
         ..
175975    1
75385     1
155361    1
125708    1
295592    0
Name: CHURN_VALUE_TABLE, Length: 167939, dtype: int8

In [12]:
y_test = x_test['CHURN_VALUE_TABLE']
x_test = x_test.drop('CHURN_VALUE_TABLE',axis=1)
y_test

48885     1
92691     0
2187      1
123873    0
26177     0
         ..
142704    0
6111      1
67796     0
129471    1
184538    0
Name: CHURN_VALUE_TABLE, Length: 41985, dtype: int8

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
string_columns = x_train.select_dtypes(include=['object']).columns
# Encoding each specified column
for column in string_columns:
    le = LabelEncoder()
    x_train[column] = le.fit_transform(x_train[column])
x_train

,SALARY,EMPLOYEE_ID,JOB_SATISFACTION,PERCENTAGE_SALARY_HIKE,PERFORMANCE_RATING,OVER_TIME,RELATIONSHIP_SATISFACTION,CHURN_STATUS_TABLE,CITY,DISTANCE,...,RETENTION,SUM_OF_TENURE,SUM_OF_AGE,JOB_STARTDATE,JOB_ENDDATE,OVERTIME_HOURS,WORK_LIFE_BALANCE,BUSINESS_TRAVEL,ENVIRONMENT_SATISFACTION,USER_ID
187787,55831.43,131769,1,22,3,0,1,1,43,2,...,0,0,0,167,110,10,0,0,3,87619731
254295,62656.12,68196,0,14,0,1,1,0,61,3,...,0,0,0,123,91,6,1,2,0,239002779
290064,70689.46,107894,0,13,2,1,3,0,18,3,...,331,26664,6669,180,151,3,1,2,1,13114889
183781,51297.84,69031,1,12,1,0,1,1,43,3,...,127,4411,1584,166,109,9,2,2,1,89129535
162886,48703.80,20020,0,12,2,0,0,0,69,3,...,0,0,0,127,83,7,1,2,0,59566748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175975,62752.98,56409,0,19,0,0,3,1,34,0,...,425,27749,9209,231,166,18,0,0,1,106083586
75385,34244.05,31423,1,21,1,0,2,1,3,1,...,0,0,0,221,164,18,2,1,1,49860950
155361,73707.97,47706,1,14,2,0,0,1,69,1,...,0,0,0,148,118,11,1,2,2,418424034
125708,58170.23,146286,1,17,0,0,0,1,34,3,...,0,0,0,212,147,9,1,2,0,90859252
295592,59665.14,159391,0,12,2,1,3,0,18,3,...,0,0,0,198,142,11,1,1,2,113113074

In [14]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=42)
model.fit(x_train, y_train)
model.score(x_train,y_train)*100
# model.score(x_test,y_test)*100

100.0

In [15]:
def label_encoding_function(x_train):
    from sklearn.preprocessing import LabelEncoder
    le = LabelEncoder()
    string_columns = x_train.select_dtypes(include=['object']).columns
# Encoding each specified column
    for column in string_columns:
        le = LabelEncoder()
        x_train[column] = le.fit_transform(x_train[column])
    return x_train

In [16]:
import pandas as pd
x_test = label_encoding_function(x_test)
y_pred =model.predict(x_test)
y_pred = pd.DataFrame(y_pred, columns=['CHURN_VALUE_PREDICTION'])

In [17]:
y_pred

       CHURN_VALUE_PREDICTION
0                           1
1                           0
2                           1
3                           0
4                           0
...                       ...
41980                       0
41981                       1
41982                       0
41983                       1
41984                       0

[41985 rows x 1 columns]

In [18]:
from fosforml import register_model

register_model(
  model_obj=model,
  session=my_session,
  x_train=x_train,
  y_train=y_train,
  x_test=x_test,
  y_test=y_test,
  y_pred=y_pred,
  source="Notebook",
  dataset_name="ATTRITION_MASTER_TABLE",
  dataset_source="Snowflake",
  name="attrition_master_dataset",
  description="This is a Model for the attrition",
  flavour="sklearn",
  model_type="classification",
  conda_dependencies=["scikit-learn==1.3.2"]
)

Got error object of type 'NoneType' has no len() when trying to read default values from function: <class 'snowflake.ml.modeling.metrics.classification._register_confusion_matrix_computer.<locals>.ConfusionMatrixComputer'>. Proceeding without creating optional arguments
Got error object of type 'NoneType' has no len() when trying to read default values from function: <class 'snowflake.ml.modeling.metrics.metrics_utils.register_accumulator_udtf.<locals>.Accumulator'>. Proceeding without creating optional arguments

Calculating build time metrics

Progress: ██████████████                                                         20.0%
Calculating build time metrics

Progress: ████████████████████████████                                           40.0%

Got error object of type 'NoneType' has no len() when trying to read default values from function: <class 'snowflake.ml.modeling.metrics.classification._register_multilabel_confusion_matrix_computer.<locals>.MultilabelConfusionMatrixComputer'>. Proceeding without creating optional arguments
DataFrame.flatten() is deprecated since 0.7.0. Use `DataFrame.join_table_function()` instead.
Got error object of type 'NoneType' has no len() when trying to read default values from function: <class 'snowflake.ml.modeling.metrics.classification._register_multilabel_confusion_matrix_computer.<locals>.MultilabelConfusionMatrixComputer'>. Proceeding without creating optional arguments
Got error object of type 'NoneType' has no len() when trying to read default values from function: <function roc_auc_score.<locals>.roc_auc_score_anon_sproc at 0x7f4cca80dca0>. Proceeding without creating optional arguments

Calculating build time metrics

Progress: ██████████████████████████████████████████                             60.0%

The version of package 'snowflake-snowpark-python' in the local environment is 1.21.1, which does not fit the criteria for the requirement 'snowflake-snowpark-python'. Your UDF might not work when the package version is different between the server and your local environment.

Error in while calculating roc_auc
Calculating build time metrics

Progress: ████████████████████████████████████████████████████████               80.0%
Calculating build time metrics

Progress: ██████████████████████████████████████████████████████████████████████ 100.0%

'Failed to register model \'MODEL_5426684D_4900_48EC_89BA_909F0254B347_FDC_ATTRITION_MASTER_DATASET\'. (1300) (1304): 01b6d949-0710-b06a-0072-f3031094e796: 391546 (XX000): SQL compilation error: Cannot create a Python function with the specified packages. Please check your packages specification and try again. \'One or more package conflicts were detected.\'. Hint: These packages are available in other python runtimes:["pandas<3,>=1.0.0"->[3.8, 3.10, 3.11], "snowflake-ml-python<2,>=1.5"->[3.8, 3.10, 3.11], "cloudpickle<4,>=3.0"->[3.8, 3.10, 3.11], "scikit-learn<2,>=1.3"->[3.8, 3.10, 3.11], "snowflake-snowpark-python<2,>=1.11.1"->[3.8, 3.10, 3.11], "typing-extensions<5,>=4.1.0"->[3.8, 3.10, 3.11], "numpy<2,>=1.23"->[3.8, 3.10, 3.11], "anyio<4,>=3.5.0"->[3.8, 3.10, 3.11], "pyyaml<7,>=6.0"->[3.8, 3.10, 3.11], "packaging<24,>=20.9"->[3.8, 3.10, 3.11], "absl-py<2,>=0.15"->[3.8, 3.10, 3.11]].'